@keyframes circularText {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

.nav__item:hover {
	color: $dark;
}
.nav__item::before {
	content: "";
	background-color: $secondary-color;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;

	transition: transform 0.3s;
	transform-origin: 0 0;
}
.slide-left::before {
	transform: scaleX(0);
}
.slide-left:hover::before {
	transform: scaleX(1);
}
.projects__common:hover {
	border: 3px solid black;
	.course-element {
		height: 150px;
		border-top: 3px solid black;
	}
	.projects-text {
		transform: translate(0, 0);
		left: 50px;
		top: 0;
	}
}
.projects__js:hover {
	border: 3px solid black;
	.projects__js--box {
		height: 150px;
		border-top: 3px solid black;
	}
	.projects-text {
		transform: translate(0, 0);
		left: 50px;
		top: 0;
	}
}
.projects__commercial:hover {
	border: 5px solid black;
	.projects__commercial--box {
		height: 150px;
		border-top: 3px solid black;
	}
	.projects-text {
		transform: translate(0, 0);
		left: 50px;
		top: 0;
	}
}
// scroll animations
.scroll {
	&__hidden {
		opacity: 0;
		filter: blur(5px);
		transform: translateX(100%);
		transition: all 1.5s;
	}
	&__show {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
	}
}