.wrapper {
    margin: 0 auto;
    width: 90vw;
    max-width: 1600px;
}
.break {
    position: relative;
    height:5em;
    width: 100vw;
}
#scrollToTop {
    position: fixed;
    bottom: 25px;
    right: 20px;
    font-size: 34px;
    cursor: pointer;
    padding: 10px;
    background-color: $secondary-color;
    color: white;
    border: 2px solid $grey-dark;
    border-radius: 5%;
    transition: opacity .3s;
    z-index: 10;
  }
  .hidden {
    opacity: 0;
    
  }