@import "./colors";
@import "./components";
@import "./animations";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	// font-family: 'Montserrat', sans-serif;
	font-family: "Roboto Mono", monospace;
	background-color: $main-color;
	overflow-x: hidden;
}

.section {
	height: 100vh;
}

// NAWIGACJA

.nav {
	position: absolute;
	display: flex;
	justify-content: left;
	align-items: center;
	height: 100vh;
	width: 100%;
	&__item {
		position: relative;
		display: block;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		font-size: 3rem;
		color: $grey-light;
		text-decoration: none;
		cursor: pointer;
		transition: 0.3s;
	}
}

// STRONA GŁÓWNA

.title {
	position: absolute;
	left: 2rem;
	&__name {
		position: relative;
		font-weight: 200;
		font-size: 74px;
		color: $grey-light;
		text-shadow: 1px 1px 2px;
	}
	&__background {
		position: absolute;
		top: 2rem;
		left: 15rem;
		font-size: 120px;
		font-weight: bold;
		color: $grey-dark;
		z-index: -1;
	}
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	// background-image: url(/img/kod1.jpg);
	&__text {
		height: 1400px;
		width: 1400px;
		position: relative;
		animation: circularText 15s linear infinite;
		right: -60%;
		top: -20%;
		span {
			position: absolute;
			transform-origin: 0 700px;
			left: 50%;
			font-family: "Montserrat", sans-serif;
			font-size: 78px;
			font-weight: bold;
			text-transform: capitalize;
			color: $grey-dark;
		}
	}
}

// SEKCJA O MNIE
// .about-me-section {
// 	// background-color: $main-color;
// 	// // background-image: linear-gradient(315deg, $main-color 0%, $secondary-color 74%) ;
// 	// background-image: url(/img/florian-olivo-4hbJ-eymZ1o-unsplash.jpg);
// 	// background-size: 30%;
// 	// background-repeat: no-repeat;
// 	// background-position: 75% 60%;
// }
.AM-title {
	position: relative;
	right: 40%;
	margin: auto;
	width: 150px;
	height: 300px;
	top: 1em;
	font-size: 74px;
	writing-mode: vertical-rl;
	color: $secondary-color;
}
.AM-text {
	position: relative;
	font-size: 22px;
	top: -7em;
	margin-left: 300px;
	color: $grey-light;
}
.icons {
	position: relative;
	width: 100%;
	// bottom: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: $secondary-color;
	&__icon {
		font-size: 100px;
		height: 100px;
		width: 100px;
	}
}
// Projekty

.projects {
	margin-left: 20em;
	height: 100%;
	// &__common {
	// 	position: relative;
	// 	width: 90%;
	// 	height: 200px;
	// 	border: 1px solid black;
	// 	border-radius: 10px;
	// 	top: -13rem;
	// }

	&__course {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: $secondary-color;
		width: 90%;
		height: 200px;
		top: -13rem;
	}
	.course-element {
		margin-top: auto;
		bottom: 0;
		height: 30px;
		width: 500px;
		background-color: #fff;
		text-decoration: none;
	}
	.element-1 {
		background-color: red;
	}
	.element-2 {
		background-color: green;
	}
	&__js {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: $grey-dark;
		width: 90%;
		height: 200px;
		top: -13rem;
		&--box {
			margin-top: auto;
			bottom: 0;
			height: 30px;
			width: 500px;
			background-color: #fff;
		}
	}
	&__commercial {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		background-color: $grey-light;
		width: 90%;
		height: 200px;
		top: -13rem;
		&--box {
			margin-top: auto;
			bottom: 0;
			height: 30px;
			width: 5000px;
			background-color: #fff;
		}
	}
}
.projects-text {
	position: absolute;
	width: 600px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 28px;
}
.element-text {
	display: flex;
	text-decoration: none;
	justify-content: center;
	margin-top: 5px;
	color: #000;
	font-family: "Montserrat", sans-serif;
}
// FOOTER
.footer {
	color: $pure-white;
	background-color: $secondary-color;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;

	// .wrapper {
	//     padding: 6em 2em 2em;
	// }

	// &__box {
	//     font-size: 1.4rem;
	// }

	// &__box-desktop {
	//     display: none;
	// }

	// &__box-title {
	//     margin-bottom: 1em;
	//     font-size: 3rem;
	//     text-transform: uppercase;
	// }

	// &__box-social {
	//     margin: 2em 0 1em;
	// }

	// &__box-link {
	//     padding: 0 .3em;
	//     font-size: 3.6rem;
	//     color: $pure-white;
	//     text-decoration: none;
	//     transition: color .3s;

	//     &:first-child {
	//         padding-left: 0;
	//     }

	//     &:hover {
	//         color: $light-white;
	//     }
	// }

	// &__bottom-text {
	//     padding: 2em;
	//     text-align: center;
	// }
}
