@import "./colors";
@import "./components";
@import "./animations";

:root {
	--cube-size: 400px;
	--cube-translateZ: 200px;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
	max-width: 100vw;
}
body {
	// font-family: 'Montserrat', sans-serif;
	font-family: "Roboto Mono", monospace;
	background-color: $main-color;
	overflow-x: hidden;
}
.section {
	height: 100vh;
	width: 100vw;
}

// NAWIGACJA

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 10;
	display: none;
	&:focus {
		outline: none;
		border: 1px solid $secondary-color;
		border-radius: 8px;
	}
	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}
	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}
	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		height: 3px;
		content: "";
		background-color: $grey-light;
		transition: width 0.3s;
	}
	&__bars {
		width: 100%;
		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

.nav {
	position: absolute;
	display: flex;
	justify-content: left;
	align-items: center;
	height: 60vh;
	bottom: 4em;
	width: 100%;
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	z-index: 5;
	&__item {
		position: relative;
		display: block;
		margin: 1em 0;
		padding: 0.5em 2em;
		font-size: 2rem;
		color: $grey-light;
		text-decoration: none;
		cursor: pointer;
		transition: 0.3s;
	}
}

// STRONA GŁÓWNA

.title {
	position: absolute;
	left: 2rem;
	top: 1em;
	&__name {
		position: relative;
		font-weight: 200;
		font-size: 44px;
		color: $grey-light;
		text-shadow: 1px 1px 2px;
	}
	&__background {
		position: absolute;
		top: 2rem;
		left: 15rem;
		font-size: 100px;
		font-weight: bold;
		color: $grey-dark;
		z-index: -1;
	}
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	&__text {
		height: 600px;
		width: 600px;
		position: relative;
		animation: circularText 15s linear infinite;
		left: 23em;
		span {
			position: absolute;
			transform-origin: 0 300px;
			left: 50%;
			font-family: "Montserrat", sans-serif;
			font-size: 34px;
			font-weight: bold;
			text-transform: capitalize;
			color: $grey-dark;
		}
	}
}

// SEKCJA O MNIE
// .about-me-section {
// 	// background-color: $main-color;
// 	// // background-image: linear-gradient(315deg, $main-color 0%, $secondary-color 74%) ;
// 	// background-image: url(/img/florian-olivo-4hbJ-eymZ1o-unsplash.jpg);
// 	// background-size: 30%;
// 	// background-repeat: no-repeat;
// 	// background-position: 75% 60%;
// }
.AM-title {
	position: relative;
	right: 45%;
	margin: auto;
	width: 150px;
	height: 300px;
	top: 1em;
	font-size: 64px;
	writing-mode: vertical-rl;
	color: $secondary-color;
	z-index: 100;
}
.AM-text {
	position: relative;
	font-size: 22px;
	top: -10em;
	width: 80vw;
	margin-bottom: 0;
	left: 10%;
	color: $grey-light;
}
.icons {
	position: relative;
	top: -7em;
	display: flex;
	justify-content: space-evenly;
	color: $secondary-color;
	&__icon {
		font-size: 100px;
		height: 100px;
		width: 100px;
	}
}
// Projekty

.projects {
	margin-left: 15%;
	height: 60vh;
	width: 80%;
	top: 0;

	&__course {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: $secondary-color;
		width: 90%;
		height: 200px;
		top: -15rem;
		transition: 0.5s;
	}
	.course-element {
		margin-top: auto;
		bottom: 0;
		height: 30px;
		width: 500px;
		text-decoration: none;
		transition: 0.5s;
		cursor: pointer;
	}
	.element-text {
		color: $light-white;
		text-shadow: 1px 1px 5px;
		display: block;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		margin-left: 1em;
		margin-top: 0.5em;
	}
	.element-1 {
		background-image: url(/img/tropical\ paradise.jpg);
		background-position: center;
	}
	.element-2 {
		background-image: url(/img/responsywna-strona-internetowa.jpg);
		background-position: center;
		border: 1px solid black;
	}
	.element-3 {
		background-image: url(/img/zaawansowana\ strona\ internetowa.jpg);
		background-position: center;
	}
	&__js {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: $grey-dark;
		width: 90%;
		height: 200px;
		top: -15rem;
		&:hover {
			.box-span {
				display: block;
			}
		}
		&--box {
			margin-top: auto;
			bottom: 0;
			height: 30px;
			width: 500px;
			background-color: #fff;
			transition: 0.5s;
			cursor: pointer;
			text-decoration: none;
			color: #000;
		}
	}
	.box-even {
		border: 1px solid black;
		background-color: $grey-dark;
	}
	.box-span {
		display: none;
		margin: 15px 5px;
		writing-mode: vertical-lr;
		font-size: 13px;
	}
	&__commercial {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		background-color: $grey-light;
		width: 90%;
		height: 200px;
		top: -15rem;
		&--box {
			margin-top: auto;
			bottom: 0;
			height: 30px;
			width: 5000px;
			background-color: #fff;
			transition: 0.5s;
			background-image: url(/img/bird-small.png);
			background-size: cover;
			cursor: pointer;
		}
	}
}
.projects-text {
	position: absolute;
	font-size: 28px;
	width: 600px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.5s;
}
.element-text {
	display: flex;
	text-decoration: none;
	justify-content: center;
	margin-top: 5px;
	color: #000;
	font-family: "Montserrat", sans-serif;
}
// CONTACT

.contact__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact__info {
	position: relative;
	height: 100%;
	background-color: $grey-dark;
	width: 40%;
	height: 600px;
	top: -14rem;
}
.contact-icon {
	position: relative;
	display: flex;
	margin: 60px 0;
	font-size: 30px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.links {
	text-decoration: none;
	color: black;
}
.rotating-cube-container {
	perspective: 2000px;
	&__cube {
		position: relative;
		width: var(--cube-size);
		height: var(--cube-size);
		transform-style: preserve-3d;
		top: -12em;
		margin-left: 8em;

		&--face {
			position: absolute;
			width: var(--cube-size);
			height: var(--cube-size);
			font-size: 30px;
			background: yellow;
			color: black;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.front {
		background-color: $secondary-color;
		transform: translateZ(var(--cube-translateZ));
	}
	.back {
		background-color: $secondary-color;
		transform: rotateY(180deg) translateZ(var(--cube-translateZ));
	}
	.left {
		background-color: $grey-light;
		transform: rotateY(-90deg) translateZ(var(--cube-translateZ));
	}
	.right {
		background-color: $grey-light;
		transform: rotateY(90deg) translateZ(var(--cube-translateZ));
	}
	.top {
		background-color: $grey-dark;
		transform: rotateX(90deg) translateZ(var(--cube-translateZ));
	}
	.bottom {
		background-color: $grey-dark;
		transform: rotateX(-90deg) translateZ(var(--cube-translateZ));
	}
}
// FOOTER
.footer {
	color: $main-color;
	background-color: $grey-light;
	.wrapper {
		padding: 6em 2em 2em;
	}
	&__box {
		font-size: 14px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		height: 100px;
	}
	&__box-list-item {
		text-decoration: none;
	}
	&__box-desktop {
		text-decoration: none;
		margin-bottom: 10%;
		margin-right: 5%;
	}
	&__box-title {
		margin-bottom: 1em;
		font-size: 3rem;
		text-transform: uppercase;
		width: 60%;
	}
	&__box-link {
		font-size: 3.6rem;
		color: $main-color;
		text-decoration: none;
		transition: color 0.3s;
		margin-right: 1em;
		:hover {
			color: $secondary-color;
		}
	}
}

@media (max-width: 768px) {
	.burger-btn {
		display: block;
	}
	.title {
		scale: 0.5;
		left: -5em;
		// &__background {
		// 	font-size: 33px;
		// }
	}
	.circle {
		scale: 0.6;
		&__text {
			left: 0;
		}
	}
	.nav {
		// display: none;
		position: fixed;
		transform: translateX(100%);
		width: 100%;
		height: 100%;
		background-color: $secondary-color;
		z-index: 1;
		bottom: 0;
		&--active {
			transform: translateX(0);
		}
	}
	.AM-title {
		transform: rotate(-90deg);
		scale: 0.7;
		left: -1em;
		top: -1.1em;
	}
	.AM-text {
		scale: 0.7;
		top: -14em;
		left: 0;
		width: 100vw;
		font-size: 18px;
	}
	.icons {
		top: -18em;
		&__icon {
			font-size: 70px;
			width: 70px;
			height: 70px;
		}
	}
	.projects {
		display: block;
		margin-top: 2em;
		margin-left: 15px;
		width: 100%;
		justify-content: center;
	}
	.projects-text {
		font-size: 15px;
		width: 400px;
		left: 60%;
	}
	.element-text {
		font-size: 12px;
	}
	.contact__info {
		width: 90%;
		margin-left: 10px;
		height: 425px;
	}
	.links 
	.contact-icon {
		position: relative;
		top: 2em;
		scale: 0.8;
		margin: 25px 0;
	}
	.contact__wrapper {
		display: block;
	}
	.rotating-cube-container{
		position: relative;
		scale: 0.5;
		top: -26em;
		right: 1em;
	}
	.contact-icon {
		justify-content: start;
		align-items: start;
	}
	.footer {
		height: 500px;
		margin: 0;
		&__box {
			font-size: 1px;
		}
		&__box-title {
			font-size: 18px;
		}
		&__box-social {
			height: 50px;
		}
		&__bottom-text {
			bottom: 0;
		}
	}
	.footer__box-desktop {
		display: none;
	}
	.hidden {
		opacity: 1;
		transform: translate(0);
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.burger-btn {
		display: block;
	}
	.title {
		scale: 0.7;
		left: 0;
	}
	.circle {
		scale: 0.8;
	}
	.nav {
		// display: none;
		position: fixed;
		transform: translateX(100%);
		width: 100%;
		height: 100%;
		justify-content: center;
		bottom: 0;
		background-color: $secondary-color;
		z-index: 1000;
		&__item {
			margin: 20px 0;
			font-size: 36px;
		}
		&--active {
			transform: translateX(0);
		}
	}
	.AM-title {
		transform: rotate(-90deg);
		left: -4em;
		top: -0.5em;
	}
	.AM-text {
		margin-top: 2em;
		scale: 0.9;
		margin-left: 5px;
		font-size: 20px;
		margin-bottom: 5px;
	}
	.projects {
		scale: 0.8;
		width: 100%;
		justify-content: center;
		margin-left: -1em;
	}
	.icons {
		top: -12em;
		scale: 0.8;
	}
	.contact__info {
		position: relative;
		margin-left: 1em;
		width: 90%;
	}
	.contact-icon {
		position: relative;
		scale: 0.9;
		margin: 60px 10px;
	}
	.rotating-cube-container {
		position: relative;
		scale: 0.9;
		top: -4em;
		right: 7em;
	}
	.contact-icon {
		top: 0;
		margin-right: 2px;
		justify-content: start;
		align-items: start;
	}
	.footer {
		margin: 0;
		&__box {
			&-social {
				scale: 0.9;
			}
			&-title {
				font-size: 20px;
			}
		}
	}
	.footer .wrapper {
		padding: 2em;
	}
	.footer__box-desktop {
		display: none;
	}
}
